header {
  background: #014e56;
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;

  @media screen and (max-width: 765px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.logo {
  cursor: pointer;

  img {
    @media screen and (max-width: 765px) {
      width: 110px;
    }
  }
}
.nav {
  display: flex;
  gap: 40px;
  padding-left: 80px;
  margin-right: auto;

  @media screen and (max-width: 500px) {
    display: none;
  }

  a {
    color: rgb(255, 255, 255);
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;

    @media screen and (max-width: 765px) {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
    }
  }
  a:nth-child(1) {
    color: orangered;
  }
  a:hover {
    color: #f67e7e;
  }

  @media screen and (max-width: 765px) {
    gap: 20px;
    padding-left: 40px;
  }
}
.header-btn {
  margin-right: 0;
}

.hamburger-menu {
  display: none;
  margin-left: auto;

  @media screen and (max-width: 500px) {
    display: block;
  }
}
